<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="PDFSender.Configuracion" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup>
<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

<applicationSettings>
        <PDFSender.Configuracion>
            <setting name="SOURCE_FILE" serializeAs="String">
                <value>C:\Users\Arley\Downloads\PMAIL\PLAMAIL</value>
            </setting>
            <setting name="DESTINATION_FOLDER" serializeAs="String">
                <value>C:\Users\Arley\Downloads\</value>
            </setting>
        </PDFSender.Configuracion>
    </applicationSettings>

  <!--<system.net>
    <mailSettings>
      <smtp from="soporteamdp@gmail.com">
        <network host="smtp.gmail.com" port="587" userName="Soporte AMDP" password="cSdhuVS4GgcAgMJ5Zlm2" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>-->

  <system.net>
    <mailSettings>
      <smtp from="email-erp@u2.com.co">
        <network host="iax.consultoring.net" port="25" userName="Soporte AMDP" password="U2email-erp" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
